.date-ru-description {
	background: #fff;
	padding: 50px 0;
	.title-date-ru {
		color: #2a2a2a;
		font-size: 30px;
	}

	.wrap {

		.black-c {
			color: #2a2a2a;
			margin: 0;
			font-weight: bolder;
		}

		p {
			font-size: 17px;
			color:#8c8c8c;
			margin: 0;

			b {
				color: #2a2a2a;
			}
		}
	}
}