.wrap__feedback--image {
	position: relative;
	.wrap-image {
		min-height: 438px;
		background: url('../images/feedback-img.png') no-repeat;

		.image-content {
			z-index: 2;
			color: #fff;
			padding: 41px 140px;
			margin: 0 -15px;

			h1 {
				font-size: 36px;
				line-height: 48px;
			}
		}
	}
}

.feedback {
	position: relative;
	top: -16em;
	.feedback-block {
		background-color:#fff;
		padding: 10px 15px;
		padding-bottom: 30px;

		.data {
			span {
				color: #8c8c8c;
				font-size: 12px;
			}
		}

		.logo_rating-site {
			margin-left: 42px;
			width: 200px;
			height: 60px;
			background: url('../images/atolin.png') 0 50% no-repeat;
		}

		.stars {

			.rating-number {
				color: #333;
				font-size: 30px;
				margin-right: 20px;
			}
		}

		.status-feedback {
			color: #0bb91c;
			font-size: 14px;
		}

		.avatar-user {
			z-index: 1;
			position: relative;
			width: 68px;
			height: 69px;
			background: url('../images/avatar-marika.png') no-repeat;
			span {
				position: absolute;
				bottom: 0;
				right: 0;
				&::before {
					content: '';
					border: 2.5px solid rgb(255, 255, 255);
					border-radius: 50%;
					background-color: rgb(76, 70, 67);
					position: absolute;
    				right: -13px;
					width: 34px;
					height: 34px;
					z-index: -1;
				}
			}
		}

		.commit-user {
			color: #2a2a2a;
			font-size: 18px;
		}

		.status-user {
			color: #ff4d30;
			font-size: 14px;
		}

		p {
			margin-top: 10px;
			color: #8c8c8c;
			position: relative;

			&::before {
				content:'';
				position: absolute;
				width: 6px;
				height: 120px;
				top: 60px;
    			right: -40px;
				background-color: rgb(218, 218, 218);
				border-radius: 10px;
			}
		}

		.btn-feedback {
			.btn {
				border-radius: 50px;
				padding : 13px 30px;
			}
			.btn-to-site {
				background-color: rgb(251, 68, 46);
				color: #fff;
			}

			.btn-information {
				position: relative;
				&::after {
					content:'';
					position: absolute;
					bottom: 9px;
					left: 29px;
					height: 1px;
					width: 141px;
					background-color: #f7cf91;
				}
			}
		}

		.rating-line {
			margin-bottom: 15px;
			.name-line {
				color: #2a2a2a;
				font-size: 14px;
			}
			.line-rating {
				position: relative;
				height: 6px;
				width: 366px;
				background-color: #e6e6e6;
				border-radius: 10px;
				.line-rating-color {
					border-radius: 10px;
					height: 6px;
					width: 100%;
				   background-image: -moz-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
                   background-image: -webkit-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
                   background-image: -ms-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
				}
			}

			.number-rating {
				padding: 0 20px;
				color: #333;
			}
		}

		.answer {
			padding: 25px 0;
			span {
				color: #8c8c8c;
			}

			div {
				margin: 0 -15px;
				a {
					padding: 0 15px;
				}
				.yes {
					color: #0bb91b;
				}
				.no {
					color: #f94a3a;
				}
			}
		}

		.emoji {
		    display: flex;
		    margin: 0 -15px;
		    padding: 25px 0;
			.count {
				color: #333;
				font-size: 30px;
			    padding: 0 10px;
			}
			.wrap-emoji {
			    display: flex;
    			flex-direction: column;
    			align-items: center;
				.smile-img {
					width: 40px;
					height: 40px;
					border-radius:10px;
					background: url('../images/smile-img.svg') 50% 50% no-repeat;
					.smile-img-color {
						width: 40px;
						height: 100%;
						border-radius:50%;
					}
				}
				span {
					color: #a5a5a5;
					font-size: 14px;
				}
			}
			.rating-percent {
				color: #14bb23;
				padding: 10px 10px
			}

			.red {
				color: #fa4c3c;
			}
		}
	}
	.btn_all-list {
		border-radius: 50px;
		padding : 13px 30px;
		border: 1px solid #e9e9e9;
		color: #333;
	}
}

