.wrap__feedback--image {
	position: relative;
	.wrap-image {
		padding: 28px 0;
		background: url('../images/feedback-img.png') 50% 50% no-repeat;
		background-size: cover;

		.image-content {
			z-index: 2;
			color: #fff;
			padding: 50px 0;
			margin-bottom: 320px;

			h1 {
				font-size: 36px;
				font-weight: 700;
				line-height: 48px;
				margin: 0;
			}

			p {
				margin: 0;
			}
		}
	}
}

.feedback {
	position: relative;
	margin-top: -334px;
	margin-bottom: 30px;
	.feedback-block {
		background-color:#fff;
		padding: 10px 15px;
		padding-bottom: 30px;
		margin-bottom: 20px;

		.data {
			span {
				color: #8c8c8c;
				font-size: 12px;
			}
		}

		.logo_rating-site {
			margin-left: 42px;
			width: 200px;
			height: 60px;
			background: url('../images/atolin.png') 0 50% no-repeat;
		}

		.stars {

			.rating-number {
				color: #333;
				font-size: 30px;
				margin-right: 20px;
			}
		}

		.review_stars_wrap {
			position: relative;
		  	#review_stars {
		  		position: relative;
			  	span {
				color: #ffd04b;
		  		}
			}

				#review_stars-yellow {
					position: absolute;
					width: 100%;
					span {
						color: red;
					}
				}
		}

		.status-feedback {
			color: #0bb91c;
			font-size: 14px;
		}

		.avatar-user {
			z-index: 1;
			position: relative;
			width: 68px;
			height: 69px;
			background: url('../images/avatar-marika.png') no-repeat;
			span {
				position: absolute;
				bottom: 0;
				right: 0;
				&::before {
					content: '';
					border: 2.5px solid rgb(255, 255, 255);
					border-radius: 50%;
					background-color: rgb(76, 70, 67);
					position: absolute;
    				right: -13px;
					width: 34px;
					height: 34px;
					z-index: -1;
				}
			}
		}

		.commit-user {
			color: #2a2a2a;
			font-size: 18px;

			.name-user {
				font-weight: 500;
			}
		}

		.status-user {
			color: #ff4d30;
			font-size: 14px;
		}

		p {
			margin-top: 10px;
			color: #8c8c8c;
			position: relative;
		}

		.btn-feedback {
			.btn {
				border-radius: 50px;
				padding : 13px 30px;
			}
			.btn-to-site {
				background-color: rgb(251, 68, 46);
				color: #fff;
				&:hover {
					-webkit-box-shadow: 0px 21px 38px 0px rgba(247, 26, 84, 0.48);
					-moz-box-shadow: 0px 21px 38px 0px rgba(247, 26, 84, 0.48);
					box-shadow: 0px 21px 38px 0px rgba(247, 26, 84, 0.48);
					transition: box-shadow 0.4s;
				}
			}

			.btn-information {
				position: relative;

				&:hover {

					&::after {
						transform: translateY(10px);
						transition: transform  .7s;
					}
				}
				&::after {
					content:'';
					position: absolute;
					bottom: 9px;
					left: 29px;
					height: 1px;
					width: 141px;
					background-color: #f7cf91;
					transform: translateY(0px);
					transition: transform  .7s;
				}
			}
		}

		.rating-line {
			margin-bottom: 15px;
			.name-line {
				color: #2a2a2a;
				font-size: 14px;
				font-weight: 500;
			}
			.line-rating {
				position: relative;
				height: 6px;
				width: 366px;
				background-color: #e6e6e6;
				border-radius: 10px;
				.line-rating-color {
					border-radius: 10px;
					height: 6px;
					width: 100%;
				   background-image: -moz-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
                   background-image: -webkit-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
                   background-image: -ms-linear-gradient( 0deg, rgb(250,50,31) 0%, rgb(251,160,19) 18%, rgb(223,241,71) 43%, rgb(117,213,49) 77%, rgb(11,185,27) 98%);
				}
			}

			.number-rating {
				padding: 0 20px;
				color: #333;
				font-weight: 500;
			}
		}

		.answer {
			padding: 25px 0;
			span {
				color: #8c8c8c;
			}

			div {
				margin: 0 -15px;
				a {
					padding: 0 15px;
				}
				.yes {
					color: #0bb91b;
					transition: all .1s;
					&:hover {
						text-decoration: none;
						font-weight: bold;
						transition: all .1s;
					}
				}
				.no {
					color: #f94a3a;
					transition: all .1s;
					&:hover {
						text-decoration: none;
						font-weight: bold;
						transition: all .1s;
					}
				}
			}
		}

		.emoji {
		    display: flex;
		    margin: 0 -15px;
		    padding: 25px 0;
			.count {
				color: #333;
				font-size: 30px;
			    padding: 0 5px;
			}
			.wrap-emoji {
			    display: flex;
    			flex-direction: column;
    			align-items: center;
				.smile-img {
					position: relative;
					width: 40px;
					height: 40px;
					background: url('../images/smile-img.svg') 50% 50% no-repeat;
					i {
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 2;
						background: url('../images/green-smile.svg') 50% 50% no-repeat;
					}
				}
				span {
					color: #a5a5a5;
					font-size: 14px;
				}
			}
			.rating-percent {
				color: #14bb23;
				padding: 10px 5px
			}

			.red {
				color: #fa4c3c;
			}
		}
	}
	.btn_all-list {
		border-radius: 50px;
		padding : 13px 30px;
		border: 1px solid #e9e9e9;
		color: #333;
		&:hover {
			-webkit-box-shadow: 0px 21px 38px 0px rgba(198, 183, 177, 0.48);
			-moz-box-shadow: 0px 21px 38px 0px rgba(198, 183, 177, 0.48);
			box-shadow: 0px 21px 38px 0px rgba(198, 183, 177, 0.48);
			transition: box-shadow 0.4s;
		}
	}
}
