.masthead {
	-webkit-box-shadow: 0.192px 10.998px 21px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0.192px 10.998px 21px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0.192px 10.998px 21px 0px rgba(0, 0, 0, 0.18);
}
.masthead,
.mastfooter {
	padding: 15px 0;
	z-index: 1;
	background-color: #fff;

	.asi {
		.navbar-brand {
			margin: 0 -15px;
			padding: 0px 15px;
			width: 245px;
			height:45px;
			background: url('../images/logo-header.png') 50% 50% no-repeat;
	}

		.border-vertical {
			display: inline-block;
			position: relative;
			margin-left: 15px;
    		margin-right: 5px;
			&::before {
				content:'';
			  	background-color: rgb(230, 230, 230);
			  	position: absolute;
			  	left: 0px;
			  	bottom: -21px;
			  	width: 1px;
			  	height: 44px;
			}
		}

		.header-text {
			padding: 0 15px;
			white-space: pre-line;
		}
	}

	.menuBurger {
		margin: 0 -15px;
		.menu-header {
	    	justify-content: flex-end;
			list-style: none;
			padding: 0;
			margin: 0;
			margin-right: -20px;
	    	margin-left: -20px;

			li {
				padding: 0 20px;
				a {
					padding: 10px 0;
					color: #333;
					text-decoration: none;
				}
			}
		}
	}

	.toggle-nav {
		display:none;
	}
}

.wrap__header--image {
	position: relative;
	.wrap-image {
		min-height: 411px;
		background: url('../images/header-image.jpg') 0 97% no-repeat;

		.image-content {
			z-index: 2;
			color: #fff;
			padding: 64px 140px;
			margin: 0 -15px;

			h1 {
				font-size: 36px;
				line-height: 48px;
			}

			.destiny {
				display: flex;
	    		margin-top: 45px;
				margin-left: -56px;
				span {
					position: relative;
					padding-left: 56px;
					margin: 0 32px;
				}
			}
		}
	}
}

.mastfooter {
	border-top: 1px solid #e6e6e6;
}