.masthead,
.mastfooter {
	z-index: 1;
	background-color: #fff;

	.navbar-brand {
		padding: 7px 0;
		width: 215px;
		height:45px;
		background: url('../images/logo-header.png') 50% 50% no-repeat;
	}

	.header-text {
		padding: 0 36px;
		position: relative;

		&::before {
			content:'';
		  	background-color: rgb(230, 230, 230);
		  	position: absolute;
		  	left: 10px;
		  	top: 2px;
		  	width: 1px;
		  	height: 44px;
		}
	}

	.menu-header {
    	justify-content: flex-end;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0 20px;
			a {
				padding: 10px 0;
				color: #333;
				text-decoration: none;
			}
		}
	}
}

.wrap__header--image {
	position: relative;
	.wrap-image {
		min-height: 411px;
		background: url('../images/header-image.jpg') 0 97% no-repeat;

		.image-content {
			z-index: 2;
			color: #fff;
			padding: 63px 100px;

			h1 {
				font-size: 36px;
				line-height: 48px;
			}

			.destiny {
				display: flex;
	    		justify-content: space-between;
	    		margin-top: 45px;

				span {
					position: relative;
					padding-left: 40px;

					&:last-child {
						padding-right: 50px;
					}
				}
			}
		}
	}
}

.mastfooter {
	border-top: 1px solid #e6e6e6;
}