.how-is-working {
	padding: 50px 0;
	.title-block {
		display: flex;
		justify-content: center;

		.title {
			text-transform: uppercase;
			font-size: 30px;
			color: #2a2a2a;
		}
	}

	.container-criteria {
		margin-top: 40px;
		padding: 40px 70px;
		background-color:#fff;
		-webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05);
		-moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05);
		box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05);
		.description-work {
			text-align: center;
			color: #8c8c8c;
			font-size: 16px;
			padding-top: 15px;
		}

		.title-block--how-work {
			text-align: center;
			margin-top: 30px;
			color:#2a2a2a;
			font-size: 18px;
		}

		.criteria-image {
			text-align: center;
		}
	}

	.description-work {
		color: #8c8c8c;
		font-size: 16px;
		margin: 0;
	}
}

.orange {
	padding: 50px 0;
	background-image: -webkit-linear-gradient(bottom, rgb(255,93,21) 0%, rgb(251,64,47) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,93,21) 0%, rgb(251,64,47) 100%);
	background-image: linear-gradient(to top, rgb(255,93,21) 0%, rgb(251,64,47) 100%);

	.title-block {

		.title-how-is-work {
			color: #fff;
		}
	}

	.description-work {
		color: #fff;
	}

	.container-criteria {
		box-shadow: none;
	}
}
