.how-is-working {
	padding-bottom: 30px;
	.title-block {
		display: flex;
		justify-content: center;

		.title {
			text-transform: uppercase;
			font-size: 30px;
			color: #2a2a2a;
		}
	}
	.w-31 {
		max-width: 30.33333%;
	}

	.container-criteria {
		padding: 40px 0;
		background-color:#fff;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.28);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.28);
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.28);
		.description-work {
			text-align: center;
			color: #8c8c8c;
			font-size: 16px;
			padding: 0 50px;
			padding-top: 15px;
		}

		.title-block--how-work {
			text-align: center;
			padding: 0 70px;
			margin-top: 30px;
			color:#2a2a2a;
			font-size: 18px;
		}

		.criteria-image {
			text-align: center;
		}
	}

	.description-work {
		color: #8c8c8c;
		font-size: 16px;
	}
}

.orange {
	padding-bottom: 30px;
    padding-top: 10px;
	background-image: -webkit-linear-gradient(bottom, rgb(255,93,21) 0%, rgb(251,64,47) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,93,21) 0%, rgb(251,64,47) 100%);
	background-image: linear-gradient(to top, rgb(255,93,21) 0%, rgb(251,64,47) 100%);

	.title-block {

		.title-how-is-work {
			color: #fff;
		}
	}

	.description-work {

		color: #fff;
	}

	.container-criteria {
		box-shadow: none;
	}
}
