/* Large desktops and laptops */
@media (min-width: 1200px) {
	.rating {
		.fl-col {
			.invis {
				display: none;
			}
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.masthead {

		.header-text {

			&::before {
				left: -60px;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			top: 3em;
			left: 3em;

			.destiny {
				margin-left: 40px;
			}
		}
	}

	.rating {
		top: -10em;

		.places-block {

			.lips {
				top: -12px;
				left: 0;
			}

			.fl-col {
				justify-content: space-between;
				.vis {
					display: none;
				}

				.invis {
					display: flex;
				}

				.info-about-site {
					display: flex;
    				justify-content: space-between;
    				width: 100%;
					&::after {
						left: 138px;
					}
				}
			}

			.stars {
				padding-left: 0;
			}

			.pad-lp {
				padding-left: 45px!important;
			}

			.container-pic {
				left: -33px;
			}

			.wrap-users {
				padding-left: 35px!important;
			}

			.buttons-rating {
				display: flex;
    			flex-direction: row;
				margin-top: 30px;
				margin-left: 12em;

				.btn-to-site {
					margin-bottom: 0;
				}

				.btn {
					margin-left: 10px;
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.masthead {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			display: flex !important;
		    flex-direction: column;
		    align-items: center;
		    padding: 0px 80px;
		}
	}



	.rating {
		display:none;
		top: -4.55em;

		.container {
			padding: 0;
		}

		.places-block {
			padding: 10px 15px;

			.lips {
				left: 20px;
			}

			.stars {
				padding-left: 0;
			}

			.buttons-rating {
				padding-left: 0;
				margin-top: 15px;
			}
		}
	}

	.how-is-working {

		.title-block {
			text-align: center;
		}

		.fl-column {
			flex-direction: column;

			.w-31 {
				max-width: 83.33333%!important;
				padding-left: 15px!important;
				padding-right: 15px!important;
			}
		}

		.text-center {
			align-self: flex-start !important;
		}
	}

	.date-ru-description {

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.have-not-regis {

		.title-regist {
			text-align: center;
		}

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.mastfooter {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	.masthead {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			left: 6em;
		}
	}

	.rating {
		display:none;
		top: -4.55em;

		.container {
			padding: 0;
		}

		.places-block {
			padding: 10px 15px;

			.lips {
				left: 20px;
			}

			.stars {
				padding-left: 0;
			}

			.buttons-rating {
				padding-left: 0;
				margin-top: 15px;
			}
		}
	}

	.how-is-working {

		.title-block {
			text-align: center;
		}

		.fl-column {
			flex-direction: column;

			.w-31 {
				max-width: 83.33333%!important;
				padding-left: 15px!important;
				padding-right: 15px!important;
			}
		}

		.text-center {
			align-self: flex-start !important;
		}
	}

	.date-ru-description {

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.have-not-regis {

		.title-regist {
			text-align: center;
		}

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.mastfooter {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}

}

/* Landscape phones and smaller */
@media (min-width: 320px) and (max-width: 480px) {
	.masthead {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}

	.rating {
		display:none;
		top: -4.55em;

		.container {
			padding: 0;
		}

		.invis {
				display: none;
			}

		.places-block {
			padding: 10px 15px;

			.lips {
				left: 20px;
			}

			.stars {
				padding-left: 0;
			}

			.buttons-rating {
				padding-left: 0;
				margin-top: 15px;
			}
		}
	}

	.how-is-working {

		.title-block {
			text-align: center;
		}

		.fl-column {
			flex-direction: column;

			.w-31 {
				max-width: 83.33333%!important;
				padding-left: 15px!important;
				padding-right: 15px!important;
			}
		}

		.text-center {
			align-self: flex-start !important;
		}
	}

	.date-ru-description {

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.have-not-regis {

		.title-regist {
			text-align: center;
		}

		.d-b {
			justify-content: flex-start !important;
		}
	}

	.mastfooter {

		.navbar {
			width: 85%;
			padding-left: 10px;
			.header-text {
				display: none;
			}
		}
	}
}