/* Large desktops and laptops */
@media (min-width: 1200px) {
	.rating {
		.fl-col {
			.invis {
				display: none;
			}
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.masthead {

		.header-text {

			&::before {
				left: -60px;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			top: 3em;
			left: 3em;

			.destiny {
				margin-left: 40px;
			}
		}
	}

	.rating {
		top: -10em;

		.places-block {

			.lips {
				top: -12px;
				left: 0;
			}

			.fl-col {
				justify-content: space-between;
				.vis {
					display: none;
				}

				.invis {
					display: flex;
				}

				.info-about-site {
					display: flex;
    				justify-content: space-between;
    				width: 100%;
					&::after {
						left: 138px;
					}
				}
			}

			.stars {
				padding-left: 0;
			}

			.pad-lp {
				padding-left: 45px!important;
			}

			.container-pic {
				left: -33px;
			}

			.wrap-users {
				padding-left: 35px!important;
			}

			.buttons-rating {
				display: flex;
    			flex-direction: row;
				margin-top: 30px;
				margin-left: 12em;

				.btn-to-site {
					margin-bottom: 0;
				}

				.btn {
					margin-left: 10px;
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.masthead {

		.header-text {

			&::before {
				left: -60px;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			top: 1em;
			left: 3em;

			.destiny {
			}
		}
	}

	.rating {
		top: -10em;

		.places-block {

			.invis {
				display: none;
			}

			.lips {
				left: 20px;
			}

			.fl-col {
				justify-content: center;

				.info-about-site {
					margin-top: 15px;
					&::after {
						left: 216px;
					}
				}
			}

			.stars {
				padding-left: 0;
			}

			.pad-lp {
				padding-left: 15px!important;
			}

			.container-pic {
				display: none;
			}

			.wrap-users {
				padding: 0!important;
			}

			.buttons-rating {
				display: flex;
    			flex-direction: row;
				margin-top: 30px;

				.btn-to-site {
					margin-bottom: 0;
				}

				.btn {
					margin-left: 10px;
				}
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	.masthead {

		.header-text {
			margin-left: 0;

			&::before {
				left: -17px;
			}
		}
	}

	.wrap__header--image {

		.image-content {
			top: 0;
			left: 0;

			h1 {
				font-size: 40px;
				line-height:  47px;
			}

			.destiny {
				display: flex;
    			flex-direction: column;
    			margin-left: 10em;
				span {
					margin-bottom: 10px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}

	.rating {
		top: -4.55em;

		.container {
			padding: 0;
		}

		.invisible {
				display: none;
			}

		.places-block {
			padding: 10px 15px;

			.lips {
				left: 20px;
			}

			.fl-col {
				flex-direction: column;

				.info-about-site {
					margin-top: 15px;
					&::before {
						width: 0;
					}
					&::after {
						width: 0;
					}
					span {
						font-size: 15px;
					}
				}
			}

			.stars {
				padding-left: 0;
			}

			.pad-lp {
				padding-left: 15px!important;
			}

			.container-pic {
				display: none;
			}

			.wrap-users {
				padding: 0!important;
				.users:nth-child(7) {
					display: none;
				}
			}

			.buttons-rating {
				margin-left: 7em;
				margin-top: 15px;
			}
		}
	}

}

/* Landscape phones and smaller */
@media (min-width: 320px) and (max-width: 480px) {
	.masthead {

		.header-text {
			margin-left: 0;
		}
	}

	.wrap__header--image {

		.image-content {
			top: 0;
			left: 0;

			h1 {
				font-size: 27px;
				line-height:  47px;
			}

			.destiny {
				display: flex;
    			flex-direction: column;
    			margin-left: 70px;
				span {
					margin-bottom: 10px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}

	.rating {
		top: -4.55em;

		.container {
			padding: 0;
		}

		.invis {
				display: none;
			}

		.places-block {
			padding: 10px 15px;

			.lips {
				left: 20px;
			}

			.fl-col {
				flex-direction: column;

				.info-about-site {
					margin-top: 15px;
					&::before {
						width: 0;
					}
					&::after {
						width: 0;
					}
					span {
						font-size: 15px;
					}
				}
			}

			.stars {
				padding-left: 0;
			}

			.pad-lp {
				padding-left: 15px!important;
			}

			.container-pic {
				display: none;
			}

			.wrap-users {
				padding: 0!important;
				.users:nth-child(5),
				.users:nth-child(6),
				.users:nth-child(7) {
					display: none;
				}
			}

			.buttons-rating {
				padding-left: 0;
				margin-top: 15px;
			}
		}
	}
}