include partitials/head.pug
body
	ul
		li: a(href="index.pug" target="_blank") index
		li: a(href="index.pug" target="_blank") index
		li: a(href="index.pug" target="_blank") index
		li: a(href="index.pug" target="_blank") index
		li: a(href="index.pug" target="_blank") index
		li: a(href="index.pug" target="_blank") index